.background_revancha {
  background-color: white;
  height: 1150px;
  width: 1349px;
}
.targetas_handle {
  position: absolute;
  top: 270px;
  right: 60px;
  width: 330px;
  height: 650px;
  font-size: medium;
}

.barranav_handle {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1345px;
  height: 110px;
  border-bottom: solid;
  background-color: skyblue;
  color: black;
  font-size: medium;
}
.hora_barra_nav {
  position: absolute;
  left: 500px;
  top: 20px;
  font-family: "Times New Roman", Times, serif;
}

.cuadrodebusqueda_barra_nav {
  position: absolute;
  top: 35px;
  left: 130px;
}
.menude_opciones_barranav {
  position: absolute;
  right: 200px;
  top: 35px;

  color: black;
  list-style: none;
  width: 350px;
}
.menude_opciones_barranav.li {
  display: inline;
}

.notaprinc_handle {
  position: absolute;
  top: 200px;
  left: 220px;
  width: 930px;
}

.parrafo_notaprinc {
  position: relative;
  left: 180px;
  width: 550px;
  font-size: medium;
}
.targeta_1_handle {
  position: relative;

  width: 330px;
  height: 150px;
  border-top-style: solid;

  border-width: 1px;

  border-color: black;
}

.img_targ1 {
  position: absolute;
  top: 20px;
  right: 1px;

  border-radius: 100%;
  transform: translatex(0%);
  transition: transform 0.2s ease-out;
}

.targeta_2_handle {
  position: relative;
  top: 15px;
  width: 330px;
  height: 150px;
  border-top-style: solid;

  border-width: 1px;

  border-color: black;
}

.img_targ2 {
  position: absolute;
  top: 20px;
  right: 1px;
  padding: 10px;
  border-radius: 100%;
  transform: translatex(0%);
  transition: transform 0.2s ease-out;
}
.targeta_3_handle {
  position: relative;
  top: 30px;
  width: 330px;
  height: 150px;
  border-top-style: solid;

  border-width: 1px;

  border-color: black;
}

.img_targ3 {
  position: absolute;
  top: 20px;
  right: 1px;
  padding: 5px;
  border-radius: 100%;
  transform: translatex(0%);
  transition: transform 0.2s ease-out;
}

.targeta_4_handle {
  position: relative;
  top: 45px;
  width: 330px;
  height: 150px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;

  border-color: black;
}
.imagendetargeta:hover {
  transform: translatex(-10%);
}

.wrapper {
  display: flex;
  position: absolute;
  top: 630px;
  left: 220px;
  width: 700px;
}
.column {
  flex-direction: column;
  display: flex;
}
.column > div {
  font-size: 4vh;
  color: black;

  margin: 0.1em;
  padding: 0.3em 1em;
  border-radius: 3px;
  flex: 1;
}

.publicidad {
  position: absolute;
  top: 365px;
  left: 225px;
  font-size: small;
  width: 150px;
  height: 250px;
}

.publicidad_2 {
  position: absolute;
  top: 950px;
  right: 60px;
  font-size: small;
  width: 330px;
  height: 450px;
}

.publicidad_11 {
  position: absolute;
  top: 210px;
  left: 20px;
  font-size: small;
  width: 160px;
  height: 1200px;
}

.publicidad_12 {
  position: absolute;
  top: 910px;
  left: 20px;
  font-size: small;
  width: 160px;
  height: 500px;
}

div h6 {
  color: red;
  padding: 10px;
}

.anchocuerpo {
  height: 120px;
  width: 200px;
  font-size: medium;
  left: 1px;
  font-weight: bold;
  line-height: 1.5em;
  text-align: left;
  padding: 5px;
}

.contenedor {
  position: relative;

  width: 300px;
  height: 250px;
  overflow: hidden;
}
.los_sonambulo {
  position: absolute;
  top: 630px;
  left: 200px;
  width: 700px;
  font-size: small;
}

.blogpequeño1 {
  height: 240px;
  font-size: small;
  width: 250px;
}
.imagenblogp1 {
  position: relative;
}
.blogpequeño2 {
  height: 220px;
  width: 250px;
  font-size: small;
}
.imagenblogp2 {
  position: relative;
}
.blogpequeño3 {
  height: 220px;
  width: 250px;
  font-size: small;
}
.imagenblogp3 {
  position: relative;
}

.imgblog1 {
  position: relative;

  left: 0px;
}

.imgblog1:hover {
  opacity: 70%;
}
.textoblog1 {
  position: relative;
  top: 15px;
  left: 0px;
  width: 460px;
  height: 80px;
  font-weight: 400;
}
.textoblog2 {
  position: relative;
  top: 35px;
  left: 0px;
  width: 460px;
  height: 80px;
}
.subra {
  background-color: yellow;
  opacity: 75%;
}
.blogsprincipales {
  font-size: medium;
  width: 390px;
  height: 320px;
  padding-bottom: 10px;
}

.blogsprincipales2 {
  position: relative;
  top: 70px;
  width: 390px;
  height: 250px;
}

.piedepagina {
  position: relative;
  top: 1420px;
  left: 0px;
  font-size: small;
  position: absolute;

  width: 1345px;
  height: 200px;
  border-top-style: solid;
  background-color: rgb(155, 186, 231);

  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.downbox {
  list-style: none;
  position: absolute;
  top: 120px;
  left: 220px;
  width: 410px;
  height: 50px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.downbox.li {
  display: inline;
}

.icondown {
  position: absolute;
  left: 220px;
  top: 40px;
}

.footdown3 {
  text-align: right;
  position: absolute;
  top: 30px;
  right: 400px;
  width: 400px;
  padding: 15px;
}
.pieiamgen {
  position: absolute;
  right: 15px;
  top: 50px;
}

@media screen and (max-width: 320px) {
  .background_revancha {
      background-color: white;
      height: 550px;
      width: 320px;
  }
  .targetas_handle {
      position: absolute;
      top: 650px;
      left: 5px;
      width: 310px;
      height: 650px;
      font-size: medium;
  }

  .barranav_handle {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 320px;
      height: 110px;
      border-bottom: solid;
      background-color: skyblue;
      color: black;
      font-size: small;
  }
  .hora_barra_nav {
      position: absolute;
      left: 20px;
      width: 150px;
      top: 20px;
      font-family: "Times New Roman", Times, serif;
  }

  .menude_opciones_barranav {
      position: absolute;
      left: 110px;
      top: 60px;

      color: black;
      list-style: none;
      width: 210px;
  }
  .menude_opciones_barranav.li {
      display: inline;
  }

  .notaprinc_handle {
      position: absolute;
      top: 130px;
      left: 5px;
      width: 310px;
  }

  .parrafo_notaprinc {
      position: relative;
      left: 5px;
      width: 310px;
      font-size: medium;
  }
  .targeta_1_handle {
      position: relative;
      top: 5px;
      left: 0px;
      width: 310px;
      height: 150px;
      border-top-style: solid;

      border-width: 1px;

      border-color: black;
  }

  .img_targ1 {
      position: absolute;
      top: 20px;
      right: 1px;

      border-radius: 100%;
      transform: translatex(0%);
      transition: transform 0.2s ease-out;
  }

  .targeta_2_handle {
      position: relative;

      left: 0px;
      width: 310px;
      height: 150px;
      border-top-style: solid;

      border-width: 1px;

      border-color: black;
  }

  .img_targ2 {
      position: absolute;
      top: 20px;
      right: 1px;
      padding: 10px;
      border-radius: 100%;
      transform: translatex(0%);
      transition: transform 0.2s ease-out;
  }
  .targeta_3_handle {
      position: relative;

      left: 0px;
      width: 310px;
      height: 150px;
      border-top-style: solid;

      border-width: 1px;

      border-color: black;
  }

  .img_targ3 {
      position: absolute;
      top: 20px;
      right: 1px;
      padding: 5px;
      border-radius: 100%;
      transform: translatex(0%);
      transition: transform 0.2s ease-out;
  }
  .piedepagina {
      position: relative;
      top: 1150px;
      left: 0px;

      font-size: small;
      position: absolute;

      width: 320px;
      height: 200px;
      border-top-style: solid;
      background-color: rgb(155, 186, 231);

      border-top-left-radius: 5%;
      border-top-right-radius: 5%;
  }

  .downbox {
      list-style: none;
      position: absolute;
      top: 120px;
      left: 5px;
      width: 300px;
      height: 50px;
      border-bottom-style: solid;
      border-bottom-width: 2px;
  }
  .downbox.li {
      display: inline;
  }

  .icondown {
      position: absolute;
      left: 10px;
      top: 40px;
  }

  .footdown3 {
      display: none;
  }
  .pieiamgen {
      display: none;
  }

  .targeta_4_handle {
      display: none;
  }
  .cuadrodebusqueda_barra_nav {
      display: none;
  }

  .wrapper {
      display: none;
  }
  .publicidad {
      display: none;
  }

  .publicidad_2 {
      display: none;
  }

  .publicidad_11 {
      display: none;
  }

  .publicidad_12 {
      display: none;
  }
}
